$backgroundLight: no-repeat center / cover url("../img/m-h-day.jpg");
$footerBackgroundColor: rgb(53, 52, 54);
$cardBackgroundColor: #21232e;
$backgroundColor: white;
$colorBannerHeading: black;
$headerColor: black; 
$sectionText: black; 
$colorSection: white;
$colors: (
  buttonColor: #8dc223,
  buttonColorText: white,
  underlineColor: #14a0c7
);
$colorLinearGradient: linear-gradient(45deg, #8dc223, rgb(40, 79, 189));
