$backgroundLight: no-repeat center / cover url("../img/m-h-night.jpg");

$footerBackgroundColor: #21132E;
$cardBackgroundColor: #21232e;
$backgroundColor: black;
$colorBannerHeading: white;
$headerColor: white; 
$sectionText: white; 
$colorSection: white;
$colors: (
  buttonColor: rgb(201, 159, 20),
  buttonColorText: white,
  underlineColor: red
);
$colorLinearGradient: linear-gradient(45deg, #d3b614, rgb(190, 54, 13));